<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Data Visualizations</title>
</head>
<body>
    <header>Data Visualizations</header>
    <nav>
      <a href="/">Home</a> -
      <a href="/your_movies">What Should I Watch?</a> -
      <a href="/visualizations">Data Visualizations</a>
    </nav>
    <section class="main">
        <article class="general-body">
            <div class="visualization">
                <img src="{{ url_for('static', filename='images/genre_distribution.png') }}" alt="Bar chart showing the breakdown of genres tags in the database">
                This bar chart shows the breakdown of genre tag popularity in the movie database, demonstrating potential audience preferences.<br>
            </div>
            <hr>
            <div class="visualization">
                <img src="{{ url_for('static', filename='images/keyword_distribution.png') }}" alt="Bar chart showing the average number of keywords per movie, by decade">
                This bar chart averages the keyword counts of movies, displayed per decade. The relatively even distribution indicates a potential lack of bias in recommending new vs old movies.<br>
            </div>
            <hr>
            <div class="visualization">
                <img src="{{ url_for('static', filename='images/runtime_distribution.png') }}" alt="Box plot showing the distribution of runtimes across the movie set">
                This box plot shows the distribution of movie runtimes across the data set. This visualization was used in the creation of the initial data filtering to help eliminate outliers.
            </div>
        </article>
    </section>
</body>
</html>