<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">-->
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Your Movies</title>
</head>
<body>
    <header>What Should I Watch?</header>
    <nav>
      <a href="/">Home</a> -
      <a href="/your_movies">What Should I Watch?</a> -
      <a href="/visualizations">Data Visualizations</a>
    </nav>
    <section class="main">
        <article class="general-body">
            <p>Enter up to five movie titles in the form below. If exact matches are found for all of them, we'll generate
                a few recommendations for you! In the event that there are multiple matches for a title you entered, you'll
                be redirected to a confirmation page.</p>
            <p><em>Note that while precise titles are best, we do support the following wildcards in your query:</em>
                <ul>
                    <li><strong>% (percent):</strong> matches any number of characters</li>
                    <li><strong>- (hyphen):</strong> matches any single character</li>
                </ul>
            </p>
            <h3>Your movies:</h3>
            <form action="/parse_user_movies" method="POST">
                <input type="text" class="form__text" name="movie_titles" id="movie-1" placeholder="Movie 1"/><br>
                <input type="text" class="form__text" name="movie_titles" id="movie-2" placeholder="Movie 2"/><br>
                <input type="text" class="form__text" name="movie_titles" id="movie-3" placeholder="Movie 3"/><br>
                <input type="text" class="form__text" name="movie_titles" id="movie-4" placeholder="Movie 4"/><br>
                <input type="text" class="form__text" name="movie_titles" id="movie-5" placeholder="Movie 5"/><br>
                <button type="submit" class="form__submit">Get recommendations!</button>
            </form>
        </article>
    </section>
</body>
</html>